
<style type="text/css">
    .head-bar{
        color: white;
        height: 45px;
        /* border: solid 1px; */
        background-color: #8b0000;
        position: relative;
    }
    .header-menu{
        color: white;
        /* border: solid 1px; */
        width: 80%;
        height: 100%;
        /* float: right; */
        /* right: 1px; */
    }
    .header-menu img{
        height: 45px;
        padding-left: 10px;
    }
    .header-menu ul{
        /* border: solid 1px ; */
        position: absolute;
        font-size: 13px;
        top: 0;
        right: 0; 
        height: 45px;
        
    }
    .header-menu li{
        list-style: none;
        border-right: solid 1px ;
        line-height: 45px;
        float: left;
    }
    .header-menu a{
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        display: block;
        text-decoration: none  ;
        color: white;
    }
    .header-menu a:hover{
        background-color: brown;
    }
</style>

<header class="head-bar">
    <div class="header-menu">
        <!-- <img src="https://agnewlotto.com/img/logo2.png"> -->
        <img src="/images/logo.png">
        <ul>
            <li> ชนิดหวย =></li>
            <li style="background-color: #555;"><a href="#">หวยลาวเวียงจันทร์</a></li>
            <li style="background-color: #2e8965;"><a href="#">งวดวันที่ 30-12-2020</a></li>
            <li style="background-color: #62a8d1;"><a href="#">B2BP49J88TESTAGENT1 [เอเย่นต์1]</a></li>
            <li>วันที่ 30 ธันวาคม 2563 เวลา 15:16:38</li>
        </ul>
    </div>
</header>